.notecard {
    margin: auto;
    border: 3px solid black;
    table-layout: fixed;
    width: 20px;
    background-color: white;
}

.notecarddata {
    border: 1px solid black;
    border-top: none;
    overflow: hidden;
    width: 20px;
    height: 300px;
    background-color: white;
    text-align: center;
    font-size: 2em;
}

.notecardline {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 70px;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 4px solid red;
    background-color: white;
}

#container {
    display: inline-block;
}
.MtopBig {
    margin: auto;
    position: relative;
    white-space: nowrap;
}
.center {
    text-align: center;
}

.MtopBig.paddedcheck {
    padding-right: 110px;
    padding-left: 10px;
}

.MtopBig.paddedx {
    padding-right: 10px;
    padding-left: 110px;
}

.MtopBig.paddedflipterm {
    padding-right: 194px;
    padding-left: 194px;
}

.MtopBig.paddedflipdef {
    padding-right: 10px;
    padding-left: 10px;
}

.MtopBig.paddedall {
    padding-right: 10px;
    padding-left: 10px;
}

.paddedtop {
    padding: 10px;
}

.invis{
    background-color: transparent;
    border: 0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width:64px;
    color:transparent;
    cursor:default;
}

.hidden {
    display: none;
}