extends layout

block variables
  - var title = 'MOOC Home'
  //- - var sets = data['sets']
  //- - var userID = data['userID']
  //- - var sharedSets = data['sharedSets']
  //- - var firstName = data['firstName']

block content

  //h2.text-center() #{title}

  img(src='mooc.jpg' style='width:100%')