extends layout

block variables
  - var title = "Account Disabled"

block content
  h2.text-center Your Account is Disabled
  p.text-center.
    Your account has been disabled. Contact a system administrator to enable your account. 