extends layout

block variables
  - var setID = data['setID']
  - var setaName = data['setName']
  - var isEmpty = data['isEmpty']
  - var isDuplicate = data['isDuplicate']
  - var setName = data['setName']
  if (setID == null)
    - var title = "Add Set"
  else 
    - var title = "Edit Set"


block content
  h2.text-center #{title}

  form(method='POST' action='/submitSet')
    div.form-group
      input.form-control(type='hidden', name='setID', value=setID)

      if isEmpty
        div.error A set name is required.
      else if isDuplicate
        div.error You already have a flashcard set named #{setName}.

      label(for='name') Flashcard Set Name:
      input.form-control(type='text', placeholder='Name', name='setName', value=setName, maxlength=100)
    
    if (setID == null)
      button.btn(type='button' onclick='dashboard()') Cancel
    else 
      button.btn(type='button' onclick='back("'+setID+'")') Cancel

    button.btn.submit(type='submit') Submit

    if (setID != null)
      button.btn.delete(type='button' onclick='confirmDelete('+setID+')') Delete

  script.
    function dashboard() {
      window.location.href = '/'
    }

    function back(setID) {
      window.location.href = '/set/?setID=' + setID
    }

    function confirmDelete(setID) {
      var result = confirm('Are you sure you want to delete this flashcard set?')
      if (result == true) {
        window.location.href = '/deleteSet/?setID=' + setID
      }
    }
  